@use '../globals/' as g;

.btn {
	border: none;
	outline: none;
	font-size: inherit;
	font-family: inherit;
	background: transparent;
	background-color: g.$Cyan;
	padding: 0.5em 1.5em;
	border-radius: 2em;
	font-weight: 700;
	color: #fff;
	white-space: nowrap;
	&:hover {
		transition: g.$transition background-color;
		cursor: pointer;
		background-color: g.$CyanHov;
	}
}

.nav__button {
	&--login {
		background-color: inherit;
		color: g.$GrayishViolet;
	}
	@media (max-width: map-get(g.$breakpoints-max, 'small')) {
		width: 100%;
		&--login {
			color: #fff;
		}
	}
}

.input__button {
	border-radius: g.$spacing-sm;
	@media (min-width: map-get(g.$breakpoints-min, 'medium')) {
		padding: g.$spacing-m g.$spacing-l;
	}
}

.copy-link__button,
.copied__button {
	border-radius: g.$spacing-sm;
	width: 100%;
	@media (min-width: map-get(g.$breakpoints-min, 'medium')) {
		width: max-content;
	}
}
.copied__button {
	background-color: g.$DarkViolet;
	&:hover {
		background-color: g.$DarkViolet;
	}
}
