@use '../globals/' as g;

.hero {
	margin-top: g.$spacing-l;
	&__image-container {
		img {
			max-width: none;
			width: 150%;
		}
	}
	&__copy {
		color: g.$GrayishViolet;
		margin-bottom: g.$spacing-l;
	}
	@media (max-width: map-get(g.$breakpoints-max, 'small')) {
		text-align: center;
		&__image-container {
			max-width: g.rem(350) * 1em;
		}
	}
	@media (min-width: map-get(g.$breakpoints-min, 'medium')) {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		&__image-container {
			padding-left: calc(g.$spacing-l * 2);
		}
		&__heading {
			font-size: 3rem;
			line-height: 1.1;
			margin-bottom: g.$spacing-sm;
			@media (min-width: map-get(g.$breakpoints-min, 'large')) {
				font-size: 4rem;
			}
		}
		&__copy {
			width: 80%;
		}
	}
}
