@use '../globals/' as g;

.input {
	padding: g.$spacing-m;
	max-width: calc(g.rem(400) * 1rem);
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	gap: g.$spacing-m;
	background-image: url(../../images/bg-boost-mobile.svg);
	background-size: cover;
	background-color: g.$DarkViolet;
	border-radius: g.$spacing-sm;
	translate: 0 calc(-50% - g.$spacing-m);

	&__url-wrapper.invalid {
		position: relative;
		.input__url {
			outline: 2px solid g.$Red;

			&::placeholder {
				color: g.$Red;
				opacity: 0.6;
			}
		}
		@media (max-width: map-get(g.$breakpoints-max, 'small' )) {
			margin-bottom: g.$spacing-m;
		}
		&::after {
			content: 'Please add a link';
			position: absolute;
			bottom: 0;
			left: 0;
			translate: 0 calc(100% + g.$spacing-sm);
			width: max-content;
			height: max-content;
			color: g.$Red;
			font-size: 0.8rem;
			font-style: italic;
		}
	}
	&__url {
		width: 100%;
		height: 100%;
		font-size: inherit;
		font-family: inherit;
		border: none;
		padding: g.$spacing-sm g.$spacing-m;
		border-radius: g.$spacing-sm;
		&:focus {
			outline: none;
		}
	}
	@media (min-width: map-get(g.$breakpoints-min, 'medium')) {
		padding: calc(g.$spacing-l + 1rem);
		flex-direction: row;
		max-width: none;
		&__url-wrapper {
			flex: 7;
		}
		background-image: url(../../images/bg-boost-desktop.svg);
	}
	&__results-container {
		&.copied {
			.copy__button {
				display: none;
			}
			.copied__button {
				display: block;
			}
		}
		.copied__button {
			display: none;
		}
		display: flex;
		flex-direction: column;
		gap: g.$spacing-m;
		translate: 0 calc(g.$spacing-m * -4);

		.input__result {
			background-color: #fff;
			padding: g.$spacing-m;
			border-radius: g.$spacing-sm;
			display: flex;
			flex-direction: column;
			gap: g.$spacing-m;

			@media (min-width: map-get(g.$breakpoints-min, 'medium')) {
				flex-direction: row;
				align-items: center;
			}

			.result__return {
				color: g.$Cyan;
				margin-left: auto;
				@media (max-width: map-get(g.$breakpoints-max, 'small')) {
					position: relative;
					margin-top: g.$spacing-m;
					margin-left: 0;
					&::before {
						content: '';
						position: absolute;
						top: calc(g.$spacing-m * -1);
						left: calc(g.$spacing-m * -1);
						right: calc(g.$spacing-m * -1);
						border: 1px solid g.$GrayA;
					}
				}
			}
		}
	}
}
