@use '../globals/' as g;

.nav {
	display: flex;
	align-items: center;
	padding-top: g.$spacing-l;
	gap: g.$spacing-l;
	font-size: 0.8rem;
	font-weight: 700;

	&__toggle-menu {
		display: none;
	}
	&__containers {
		display: flex;
		align-items: center;
		width: 100%;
	}
	&__link-container {
		list-style: none;
		display: flex;
		gap: g.$spacing-m;
	}
	&__link {
		color: g.$GrayishViolet;
		&:hover {
			transition: g.$transition;
			cursor: pointer;
			color: #000;
		}
	}
	&__button-container {
		margin-left: auto;
		display: flex;
		gap: g.$spacing-m;
	}

	@media (max-width: map-get(g.$breakpoints-max, 'small')) {
		justify-content: space-between;
		position: relative;
		&__toggle-menu {
			display: block;
		}
		&__containers.reveal {
			display: flex;
		}
		&__containers {
			display: none;
			flex-direction: column;
			position: absolute;
			width: initial;
			font-size: 1.2rem;
			bottom: 0;
			left: g.$spacing-m;
			right: g.$spacing-m;
			translate: 0 100%;
			background-color: g.$DarkViolet;
			padding: g.$spacing-m;
			border-radius: g.$spacing-m;
		}
		&__button-container {
			padding-block: g.$spacing-m;
			margin: auto;
			flex-direction: column;
		}
		&__link-container {
			width: 100%;
			padding-block: g.$spacing-m;
			flex-direction: column;
			align-items: center;
			border-bottom: 1px solid g.$GrayA;
		}
		&__link {
			color: #fff;
		}
	}
}
